.horizontal-spacer {
    display: inline-block;
    width: 0.85em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#prefix-setup-top {
    margin-right: 6px;
}

/* Prefix filter items */
#prefix-filter > li {
    float: left;
    padding: 3px 6px;
    margin: 3px 4px;
    background-color: #cecece;
    border-radius: 4px;
    color: #333;
}

#prefix-filter .remove {
    cursor: pointer;
    background-color: #ececec;
    padding: 0 4px;
    border-radius: 8px;
    margin-left: 4px;
    margin-right: 0;
}

#prefix-filter:after {
    content: '';
    display: block;
    clear: both;
}

.edit-dialog fieldset {
    margin-bottom: 15px;
}

.edit-dialog label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.edit-dialog input[type="text"],
.edit-dialog textarea {
    width: 100%;
}

#remove-all-filters-wrap {
    margin: 1.5em 0 0;
}

.horizontal-spacer {
    display: inline-block;
    width: 0.85em;
}

.column-option_id {
    width: 5em;
}

.column-autoload {
    width: 5em;
}

.column-option_size {
    width: 9em;
}

.nav-tab-wrapper {
    margin-bottom: 10px !important;
}

.subsubsub {
    margin-top: 2px !important;
}

.edit-option_desc {
    display: none;
}

.column-option_desc:hover .edit-option_desc {
    display: inline;
}

@media screen and (max-width: 782px) {
    .wp-list-table .column-option_id {
        display: none;
    }

    .wp-list-table .is-expanded .column-option_id {
       padding: 3px 8px 3px 35% !important;
    }

    .tablenav.top .actions.prefix-filter-setup {
        display: block;
        margin-bottom: 14px;
    }

    .tablenav.top .displaying-num {
        display: block;
        margin: 5px 0 20px;
        font-size: 16px;
    }
}

@media screen and (max-width: 488px) {
    .prefix-filter-setup .horizontal-spacer {
        display: block;
    }
}
